src/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Hello World</title>
    <!-- <meta name="description" content="" /> -->
    <!-- <link rel="canonical" href="https://example.com" /> -->
    <!-- <meta name="robots" content="noindex nofollow" /> -->

    <link rel="stylesheet" href="_styles/main.scss" />
  </head>
  <body>

    <div class="hero is-medium is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">Hello World</h1>
          <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>

    <script src="_scripts/main.js"></script>
  </body>
</html>

src/index.pug
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title Hello World
    //- meta(name='description', content='')
    //- link(rel='canonical', href='https://example.com')
    //- meta(name='robots', content='noindex nofollow')

    link(rel='stylesheet', href='_styles/main.scss')
  body
    .hero.is-medium.is-primary.is-bold
      .hero-body
        .container
          h1.title.is-1 Hello World
          p.subtitle Lorem ipsum dolor sit amet.

    script(src='_scripts/main.js')
